<!--<router-outlet></router-outlet>-->

<div class="profile-container">
  <h1>Profil</h1>


  <div class="form-group">
    <label for="theme">Theme:</label>
    <select id="theme" [(ngModel)]="filter.themeList">
      @for (theme of themeList; track theme) {
        <option [ngValue]="theme">{{theme}}</option>
      }
    </select>
  </div>




  <div class="form-group">
    <label for="country">Country:</label>
    <select id="country" [(ngModel)]="filter.country">
    @for (country of countryList; track country) {
      <option [ngValue]="country">{{country}}</option>
    }
    </select>
  </div>






  <div class="form-group">
    <label for="city">City:</label>
    <select id="city" [(ngModel)]="filter.city">
      @for (city of cityList; track city) {
        <option [ngValue]="city">{{city}}</option>
      }
    </select>
  </div>

    <div class="form-group">
      <label for="age">City:</label>
      <select id="age" [(ngModel)]="filter.age">
        @for (age of ageList; track age) {
          <option [ngValue]="age">{{age}}</option>
        }
      </select>
    </div>

  <div class="form-group">
    <label for="nativeLang">nativeLang:</label>
    <select id="nativeLang" [(ngModel)]="filter.nativeLang">
      @for (nativeLang of langList; track nativeLang) {
        <option [ngValue]="nativeLang">{{nativeLang}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="learnLang">learnLang:</label>
    <select id="learnLang" [(ngModel)]="filter.learnLang">
      @for (learnLang of langList; track learnLang) {
        <option [ngValue]="learnLang">{{learnLang}}</option>
      }
    </select>
  </div>


  <div class="form-group">
    <label for="gender">Gender:</label>
    <select id="gender" [(ngModel)]="filter.gender">
      @for (gender of genderList; track gender) {
        <option [value]="gender">{{gender}}</option>
      }
    </select>
  </div>


  <button class="save-button" (click)="updateFilter()">Update</button>
</div>
