<div class="profile-container">
  <h1>Profil</h1>

  <div class="form-group">
    <label for="theme">Theme:</label>
    <select id="theme" [(ngModel)]="filter.themeList">
      @for (theme of themeList; track theme.value) {
        <option [ngValue]="theme.value">{{theme.label}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="country">Country:</label>
    <select id="country" [(ngModel)]="filter.country">
    @for (country of countryList; track country.value) {
      <option [ngValue]="country.value">{{country.label}}</option>
    }
    </select>
  </div>

  <div class="form-group">
    <label for="city">City:</label>
    <select id="city" [(ngModel)]="filter.city" >
      @for (city of cityList; track city.value) {
        <option [ngValue]="city.value">{{city.label}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <select [(ngModel)]="filter.age">
      @for (age of ageList; track age.value) {
        <option [ngValue]="age.value">{{ age.label }}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="nativeLang">nativeLang:</label>
    <select id="nativeLang" [(ngModel)]="filter.nativeLang">
      @for (nativeLang of langList; track nativeLang.value) {
        <option [ngValue]="nativeLang.value">{{nativeLang.label}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="learnLang">learnLang:</label>
    <select id="learnLang" [(ngModel)]="filter.learnLang">
      @for (learnLang of langList; track learnLang.value) {
        <option [ngValue]="learnLang.value">{{learnLang.label}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="gender">Gender:</label>
    <select id="gender" [(ngModel)]="filter.gender">
      @for (gender of genderList; track gender.value) {
        <option [ngValue]="gender.value">{{gender.label}}</option>
      }
    </select>
  </div>

  <button class="save-button" (click)="updateFilter()">Update</button>
</div>
