Reset Password


@if (!isPasswordChanged()){
  @if (commonError) {
    <div>{{ commonError }}</div>
  }
  Write your email:
  <input [(ngModel)]="resetPassword.email">
  @if (resetPasswordForm.controls.email.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }

  Write new password:
  <input [(ngModel)]="resetPassword.password">
  @if (resetPasswordForm.controls.password.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }

  <button (click)="update()">Change password</button>

} @else {
  Password has been changed successfully!
  <br>
  Go to login and sign in with a new password
  <br>
  <a [routerLink]="['/login']">Sign in</a>
}
