Reset Password


@if (!isPasswordChanged()){
  <div [formGroup]="resetPasswordForm">
    @if (commonError) {
      <div>{{ commonError }}</div>
    }
    Write your email:
    <input formControlName="email">
    @if (resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched) {
      @if (resetPasswordForm.controls.email.hasError('email')) { <small>Email is not valid</small> }
      @if(resetPasswordForm.controls.email.errors?.["required"]) {<small>email is required</small>}
      @if(resetPasswordForm.controls.email.errors?.["minLength"]) {<small>Min length is 5</small>}
      @if(resetPasswordForm.controls.email.errors?.["maxLength"]) {<small>Max length is 254</small>}
      @if (resetPasswordForm.controls.email.errors?.["spaces"]) {<small>Can not contains spaces</small>}
    }
    @if (resetPasswordForm.controls.email.errors?.['backend']; as backendErrors) {
      @for (err of backendErrors; track err) {
        <small>{{ err }}</small>
      }
    }

    Write new password:
    <input formControlName="password">
    @if (resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.invalid){
      @if(resetPasswordForm.controls.password.errors?.["required"]) {<small>password is required</small>}
      @if(resetPasswordForm.controls.password.errors?.["minLength"]) {<small>Min length is 8</small>}
      @if(resetPasswordForm.controls.password.errors?.["maxLength"]) {<small>Max length is 64</small>}
      @if (resetPasswordForm.controls.password.errors?.["spaces"]) {<small>Can not contains spaces</small>}

    }
    @if (resetPasswordForm.controls.password.errors?.['backend']; as backendErrors) {
      @for (err of backendErrors; track err) {
        <small>{{ err }}</small>
      }
    }

    <button (click)="update()">Change password</button>

  </div>
} @else {
  Password has been changed successfully!
  <br>
  Go to login and sign in with a new password
  <br>
  <a [routerLink]="['/login']">Sign in</a>
}
