<div class="h-[100dvh] flex justify-center items-center">
  <div class="border-out px-2 py-4 md:p-10 mx-auto">
    <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] md:max-w-full text-center">
      @if (!isPasswordChanged()){
        <p class="text-2xl lg:text-3xl mt-5 uppercase">Set new<br class="lg:hidden"> password</p>
        <div class="text-[#B4B4B4] text-sm md:text-base mt-2.5 md:mt-5 lg:mt-6 mx-auto">
          Enter a new password<br class="lg:hidden"> for your account
        </div>
        <div class="text-left">
          <form [formGroup]="resetPasswordForm">
            @if (commonError) {
              <div class="common-backend-error text-center mt-4">{{ commonError }}</div>
            }
            <label class="input-auth-name text-left mt-10 md:mt-8 lg:mt-10">Email</label>
            <div class="border-input" [class.border-input-error]="resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched">
              <svg class="input-icon" fill="none" viewBox="0 0 16 16">
                <path d="M2.66665 2.6665H13.3333C14.0666 2.6665 14.6666 3.2665 14.6666 3.99984V11.9998C14.6666 12.7332 14.0666 13.3332 13.3333 13.3332H2.66665C1.93331 13.3332 1.33331 12.7332 1.33331 11.9998V3.99984C1.33331 3.2665 1.93331 2.6665 2.66665 2.6665Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.6666 4L7.99998 8.66667L1.33331 4" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <input
                [class.text-[#EA4550]]="resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched"
                [class.placeholder:text-[#EA4550]]="resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched"
                class="input-text" formControlName="email" type="email" placeholder="Enter your email">
            </div>
            @if (resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched) {
              <div>
                @if (resetPasswordForm.controls.email.hasError('email')) {
                  <small class="error-input-text">Email is not valid</small>
                }
                @if (resetPasswordForm.controls.email.errors?.["required"]) {
                  <small class="error-input-text">email is required</small>
                }
                @if (resetPasswordForm.controls.email.errors?.["minLength"]) {
                  <small class="error-input-text">Min length is 5</small>
                }
                @if (resetPasswordForm.controls.email.errors?.["maxLength"]) {
                  <small class="error-input-text">Max length is 254</small>
                }
                @if (resetPasswordForm.controls.email.errors?.["spaces"]) {
                  <small class="error-input-text">Can not contains spaces</small>
                }
              </div>
            }
            @if (resetPasswordForm.controls.email.errors?.['backend']; as backendErrors) {
              @for (err of backendErrors; track err) {
                <small class="error-input-text" >{{ err }}</small>
              }
            }
            <label class="input-auth-name pt-8 lg:pt-6 text-left">New Password</label>
            <div class="border-input" [class.border-input-error]="resetPasswordForm.controls.newPassword.invalid && resetPasswordForm.controls.newPassword.touched">
              <svg class="input-icon" fill="none" viewBox="0 0 16 16">
                <path d="M12.6667 7.3335H3.33333C2.59695 7.3335 2 7.93045 2 8.66683V13.3335C2 14.0699 2.59695 14.6668 3.33333 14.6668H12.6667C13.403 14.6668 14 14.0699 14 13.3335V8.66683C14 7.93045 13.403 7.3335 12.6667 7.3335Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.66675 7.3335V4.66683C4.66675 3.78277 5.01794 2.93493 5.64306 2.30981C6.26818 1.68469 7.11603 1.3335 8.00008 1.3335C8.88414 1.3335 9.73198 1.68469 10.3571 2.30981C10.9822 2.93493 11.3334 3.78277 11.3334 4.66683V7.3335" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <input class="input-text" formControlName="newPassword" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
              <button type="button" (click)="hidePassword.set(!hidePassword())">
                @if (!hidePassword()) {
                  <svg class="w-4 h-4 shrink-0 my-auto text-[#494A4E]" fill="none" viewBox="0 0 16 16">
                    <path d="M0.666748 7.99984C0.666748 7.99984 3.33341 2.6665 8.00008 2.6665C12.6667 2.6665 15.3334 7.99984 15.3334 7.99984C15.3334 7.99984 12.6667 13.3332 8.00008 13.3332C3.33341 13.3332 0.666748 7.99984 0.666748 7.99984Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                } @else {
                  <svg class="w-4 h-4 shrink-0 my-auto text-[#494A4E]" fill="none" viewBox="0 0 16 16">
                    <path d="M11.96 11.9599C10.8204 12.8285 9.4327 13.3098 7.99996 13.3332C3.33329 13.3332 0.666626 7.99985 0.666626 7.99985C1.49589 6.45445 2.64605 5.10426 4.03996 4.03985M6.59996 2.82652C7.05885 2.71911 7.52867 2.66652 7.99996 2.66652C12.6666 2.66652 15.3333 7.99985 15.3333 7.99985C14.9286 8.75693 14.446 9.46968 13.8933 10.1265M9.41329 9.41319C9.23019 9.60969 9.00939 9.76729 8.76406 9.8766C8.51873 9.98591 8.25389 10.0447 7.98535 10.0494C7.71681 10.0542 7.45007 10.0048 7.20103 9.90418C6.952 9.80359 6.72577 9.65387 6.53586 9.46396C6.34594 9.27404 6.19622 9.04782 6.09563 8.79878C5.99504 8.54975 5.94564 8.283 5.95038 8.01446C5.95512 7.74592 6.0139 7.48108 6.12321 7.23575C6.23252 6.99042 6.39013 6.76962 6.58663 6.58652" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.666626 0.666504L15.3333 15.3332" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                }
              </button>
            </div>
            <div>
              @if (resetPasswordForm.errors?.["passwordMismatch"]) {
                <small class="error-input-text">Passwords do not match</small>
              }
              @if (resetPasswordForm.controls.newPassword.touched && resetPasswordForm.controls.newPassword.invalid) {
                <div>
                  @if (resetPasswordForm.controls.newPassword.errors?.["required"]) {
                    <small class="error-input-text">password is required</small>
                  }
                  @if (resetPasswordForm.controls.newPassword.errors?.["minLength"]) {
                    <small class="error-input-text">Min length is 8</small>
                  }
                  @if (resetPasswordForm.controls.newPassword.errors?.["maxLength"]) {
                    <small class="error-input-text">Max length is 64</small>
                  }
                  @if (resetPasswordForm.controls.newPassword.errors?.["spaces"]) {
                    <small class="error-input-text">Can not contains spaces</small>
                  }
                </div>
              }
            </div>
            @if (resetPasswordForm.controls.newPassword.errors?.['backend']; as backendErrors) {
              @for (err of backendErrors; track err) {
                <small class="error-input-text">{{ err }}</small>
              }
            }
            <label class="input-auth-name pt-8 lg:pt-6 text-left">Confirm Password</label>
            <div class="border-input" [class.border-input-error]="resetPasswordForm.controls.confirmedPassword.invalid && resetPasswordForm.controls.confirmedPassword.touched">
              <svg class="input-icon" fill="none" viewBox="0 0 16 16">
                <path d="M12.6667 7.3335H3.33333C2.59695 7.3335 2 7.93045 2 8.66683V13.3335C2 14.0699 2.59695 14.6668 3.33333 14.6668H12.6667C13.403 14.6668 14 14.0699 14 13.3335V8.66683C14 7.93045 13.403 7.3335 12.6667 7.3335Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.66675 7.3335V4.66683C4.66675 3.78277 5.01794 2.93493 5.64306 2.30981C6.26818 1.68469 7.11603 1.3335 8.00008 1.3335C8.88414 1.3335 9.73198 1.68469 10.3571 2.30981C10.9822 2.93493 11.3334 3.78277 11.3334 4.66683V7.3335" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <input class="input-text" formControlName="confirmedPassword" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
              <button type="button" (click)="hidePassword.set(!hidePassword())">
                @if (!hidePassword()) {
                  <svg class="w-4 h-4 shrink-0 my-auto text-[#494A4E]" fill="none" viewBox="0 0 16 16">
                    <path d="M0.666748 7.99984C0.666748 7.99984 3.33341 2.6665 8.00008 2.6665C12.6667 2.6665 15.3334 7.99984 15.3334 7.99984C15.3334 7.99984 12.6667 13.3332 8.00008 13.3332C3.33341 13.3332 0.666748 7.99984 0.666748 7.99984Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                } @else {
                  <svg class="w-4 h-4 shrink-0 my-auto text-[#494A4E]" fill="none" viewBox="0 0 16 16">
                    <path d="M11.96 11.9599C10.8204 12.8285 9.4327 13.3098 7.99996 13.3332C3.33329 13.3332 0.666626 7.99985 0.666626 7.99985C1.49589 6.45445 2.64605 5.10426 4.03996 4.03985M6.59996 2.82652C7.05885 2.71911 7.52867 2.66652 7.99996 2.66652C12.6666 2.66652 15.3333 7.99985 15.3333 7.99985C14.9286 8.75693 14.446 9.46968 13.8933 10.1265M9.41329 9.41319C9.23019 9.60969 9.00939 9.76729 8.76406 9.8766C8.51873 9.98591 8.25389 10.0447 7.98535 10.0494C7.71681 10.0542 7.45007 10.0048 7.20103 9.90418C6.952 9.80359 6.72577 9.65387 6.53586 9.46396C6.34594 9.27404 6.19622 9.04782 6.09563 8.79878C5.99504 8.54975 5.94564 8.283 5.95038 8.01446C5.95512 7.74592 6.0139 7.48108 6.12321 7.23575C6.23252 6.99042 6.39013 6.76962 6.58663 6.58652" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.666626 0.666504L15.3333 15.3332" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                }
              </button>
            </div>
            <div>
              @if (resetPasswordForm.errors?.["passwordMismatch"]) {
                <small class="error-input-text">Passwords do not match</small>
              }
              @if (resetPasswordForm.controls.confirmedPassword.touched && resetPasswordForm.controls.confirmedPassword.invalid) {
                <div>
                  @if (resetPasswordForm.controls.confirmedPassword.errors?.["required"]) {
                    <small class="error-input-text">password is required</small>
                  }
                  @if (resetPasswordForm.controls.confirmedPassword.errors?.["minLength"]) {
                    <small class="error-input-text">Min length is 8</small>
                  }
                  @if (resetPasswordForm.controls.confirmedPassword.errors?.["maxLength"]) {
                    <small class="error-input-text">Max length is 64</small>
                  }
                  @if (resetPasswordForm.controls.confirmedPassword.errors?.["spaces"]) {
                    <small class="error-input-text">Can not contains spaces</small>
                  }
                </div>
              }
            </div>
            <button class="login-button blue-background-button mt-8 md:mt-11" type="button" (click)="update()" [disabled]="isLoading() || resetPasswordForm.invalid">
              @if (isLoading()){
                <div class="w-6 h-6 my-auto mx-auto">
                  <svg class="animate-spin" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2V6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 18V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.93005 4.92969L7.76005 7.75969" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.24 16.2402L19.07 19.0702" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2 12H6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.93005 19.0702L7.76005 16.2402" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.24 7.75969L19.07 4.92969" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              } @else {
                Set password
              }
            </button>
          </form>
        </div>
      } @else {
        <div class="text-base lg:text-xl mt-5 text-center text-nowrap">
          <span class="uppercase">Great!<br></span>
          Password updated successfully
        </div>
        <div class="text-sm text-center text-[#B4B4B4] lg:text-base mt-1">
          You can now sign in with your new password
        </div>
        <div class="transition-colors duration-200 mt-5 login-button blue-background-button uppercase text-sm" [routerLink]="['/login']">
            Go to Login
        </div>
      }
    </div>
  </div>
</div>
