<div class="flex flex-col justify-start items-center min-h-screen pt-[100px] md:pt-[60px] lg:pt-[150px] pb-20">
  @if(!isSend()){
    <div class="w-full px-6 max-w-[500px] md:max-w-[700px] md:px-16 lg:-mt-20">
      <div class="text-center">
        <h1 class="text-[#c64542] text-4xl font-semibold md:text-6xl drop-shadow-[0_0_15px_rgba(198,69,66,0.4)]">ChatZone</h1>
        <p class="text-gray-400 font-medium pt-1 pb-8 md:text-xl md:pt-2 md:pb-10">Connect with strangers instantly</p>
      </div>
      <div class="frame-container shadow-[0_20px_50px_rgba(0,0,0,0.5)]">
        <div class="px-6 pt-6 md:px-10 md:pt-8">
          <form [formGroup]="resetPasswordForm">
            @if (commonError) {
              <div class="backend-error-message">{{ commonError }}</div>
            }
            <div class="">
              <img src="/assets/imgs/reset-password.svg" alt="" class="w-7 md:w-8 mx-auto">
            </div>
            <h1 class="text-center uppercase text-xl font-semibold pt-6 text-[#AD88C6] md:text-2xl">Forgot password?</h1>
            <p class="text-center pt-2 font-medium pb-6 text-sm text-gray-400 md:text-base">
              No worries! Enter your email address and we will send you a link to reset your password.</p>
            <label class="attribute-name">Email</label>
            <div class="relative">
              <img src="/assets/imgs/email.svg" alt="" class="input-icon">
              <input formControlName = "email" type="email" placeholder="Enter your email" class="input-field"
                     [class.input-error-active]="resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched">
            </div>
            @if (resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched) {
              <div class="error-container flex flex-col pl-1 pt-1 md:pl-2 md:pt-2">
                @if (resetPasswordForm.controls.email.hasError('email')) { <small>Email is not valid</small> }
                @if(resetPasswordForm.controls.email.errors?.["required"]) {<small>email is required</small>}
                @if(resetPasswordForm.controls.email.errors?.["minLength"]) {<small>Min length is 5</small>}
                @if(resetPasswordForm.controls.email.errors?.["maxLength"]) {<small>Max length is 254</small>}
                @if (resetPasswordForm.controls.email.errors?.["spaces"]) {<small>Can not contains spaces</small>}
              </div>
            }
            @if (resetPasswordForm.controls.email.errors?.['backend']; as backendErrors) {
              @for (err of backendErrors; track err) {
                <small>{{ err }}</small>
              }
            }
            <button type="submit" [disabled]="isLoading() || resetPasswordForm.invalid" class="common-bottom">
              @if (isLoading()) {
                <div class="">
                  <img src="/assets/imgs/loading.svg" alt="" class="w-7 md:w-8 mx-auto animate-spin">
                </div>
              } @else {
                <span>Send Reset Link</span>
              }
            </button>
            <div class="flex items-center justify-center gap-3 pb-6">
              <img src="/assets/imgs/arrow-left-long.svg" alt="" class="w-7 md:w-8 my-auto">
              <a [routerLink]="['/login']" class="block text-center hover:text-[#AD88C6] font-medium text-[#7C73C0] md:text-lg">Back to Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  } @else {
    <div class="w-full px-6 max-w-[400px] md:max-w-[600px] md:px-16 lg:-mt-20">
      <div class="text-center">
        <h1 class="text-[#c64542] text-4xl font-semibold md:text-6xl drop-shadow-[0_0_15px_rgba(198,69,66,0.4)]">ChatZone</h1>
        <p class="text-gray-400 font-medium pt-1 pb-8 md:text-xl md:pt-2 md:pb-10">Connect with strangers instantly</p>
      </div>
      <div class="frame-container shadow-[0_20px_50px_rgba(0,0,0,0.5)] text-center pb-10 px-4">
        <h1 class="text-center uppercase text-xl font-semibold pt-8 text-[#AD88C6] md:text-2xl">Link was sent successfully!</h1>
        <div class="text-center pt-2 font-medium pb-6 text-gray-400 md:text-base px-4 text-sm md:text-base md:pb-8">Go to your email to change your password.</div>
        <a [routerLink]="['/']" class="bg-[#2E236C] hover:bg-[#3d2f8a] w-full rounded-2xl font-medium my-6 transition-all
        duration-300 hover:scale-[1.02] active:scale-[0.98] hover:shadow-[0_10px_20px_rgba(0,0,0,0.4)] hover:-translate-y-0.5
        active:translate-y-0 active:shadow-none disabled:opacity-50 disabled:cursor-not-allowed
        py-2 px-4 md:text-base md:py-3 md:px-6
        text-sm">Go to Main Page</a>
      </div>
    </div>
  }
</div>
