@if(!isSend()){
  Resetuj hasło

  Podaj email dla resetowania hasła

  <label class="login-labels">
    @if (commonError) {
      <div>Common: {{ commonError }}</div>
    }
    Email
    <input [(ngModel)]="email" type="email" placeholder="example123">
    @if (resetPasswordForm.controls.email.errors?.['backend']; as backendErrors) {
      @for (err of backendErrors; track err) {
        <small>{{ err }}</small>
      }
    }
  </label>

  <button type="submit" (click)="onClick()">Login</button>
} @else {
  Link zostal wysłany do resetowania hasla!
  Przejź do poczty i zmień hasło

  <a [routerLink]="['/']">Przejdź do strony głównej</a>
}
