.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 40px;
}

.online {
  color: #8884d8;
}

.chat-options {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.chat-card {
  background-color: #161640;
  border-radius: 20px;
  padding: 20px 35px;
}

.user-buttons{
  display: flex;
  gap: 10px;
}

.go-button {
  margin-top: 10px;
  padding: 10px 25px;
}

.chat-filter {
  position: fixed;
  top: 15%;
  left: 25%;
  width: 50%;
  background-color: #6e6ecc;
}

.profile-container{
  text-align: center;
}

.form-group{
  margin-top: 7px;
}

label{
  margin-right: 10px;
}

select {
  border-radius: 6px;
  border: 1px solid #000000;
  background-color: #212173;
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.button-back {
  position: absolute;
  left: 10%;
}
