<div class="container">
  <div class="header">
    @if (authService.isAuthenticatedValue){
      <div class="user-buttons">
        <button (click)="onClickProfile()">{{ username || 'Profile'}}</button>
        <button (click)="onClickLogout()">Logout</button>
      </div>
    } @else {
      <button (click)="onClickLogin()">Login</button>
    }
    <h1 class="title">ChatZone</h1>
    <div class="online">Online: {{ 1231 }}</div>
  </div>

  <div class="chat-options">
    <div class="chat-card">
      <h2>Individual chat</h2>
      <p>Online: {{1231}}</p>
      <button class="go-button" (click)="activateFilter()">Go</button>
    </div>
    <div class="chat-card">
      <h2>Group chat</h2>
      <p>Online: {{ 1231 }}</p>
      <button class="go-button" (click)="router.navigate(['/groups'])">Go</button>
    </div>
  </div>
</div>

@if (isFilterActivated()){
  <div class="chat-filter">

    <div class="profile-container">
      <div class="form-group">
        <label for="theme">Theme:</label>
        <select id="theme" [(ngModel)]="filter.theme">
          @for (theme of themeList; track theme.value) {
            <option [ngValue]="theme.value">{{theme.label}}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="country">Country:</label>
        <select id="country" [(ngModel)]="filter.country">
          @for (country of countryList; track country.value) {
            <option [ngValue]="country.value">{{country.label}}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <select id="city" [(ngModel)]="filter.city" >
          @for (city of cityList; track city.value) {
            <option [ngValue]="city.value">{{city.label}}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <select id="age" [(ngModel)]="filter.age" >
          @for (age of ageList; track age.value) {
            <option [ngValue]="age.value">{{ age.label }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="language">Lang:</label>
        <select id="language" [(ngModel)]="filter.language">
          @for (lang of langList; track lang.value) {
            <option [ngValue]="lang.value">{{lang.label}}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="your-gender">Your Gender:</label>
        <select id="your-gender" [(ngModel)]="filter.yourGender">
          @for (gender of genderList; track gender.value) {
            <option [ngValue]="gender.value">{{gender.label}}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="partner-gender">Partner Gender:</label>
        <select id="partner-gender" [(ngModel)]="filter.partnerGender">
          @for (gender of genderList; track gender.value) {
            <option [ngValue]="gender.value">{{gender.label}}</option>
          }
        </select>
      </div>
    </div>

      <button (click)="findPerson()">Find</button>
      <button (click)="activateFilter()">Back</button>
  </div>
}

@if (isFindPerson()){
  <div class="chat-filter">
    <h2>Waiting...</h2>
    <button (click)="cancelFindPerson()">Cancel</button>
  </div>
}
