<div class="min-h-screen flex justify-center items-center">
  <div class="border-out px-2 py-4 md:p-10 mx-auto">
    <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] md:max-w-full lg:w-[500px] text-center">
      @if (!isDeleteProfile()){
        <p class="text-2xl lg:text-3xl mt-5 uppercase">Do you want to delete<br>
          your profile?</p>
        <div class="text-[#B4B4B4] text-sm md:text-base mt-2.5 md:mt-5 lg:mt-6 mx-auto">
          Type in your password<br class="lg:hidden"> to delete your account.
        </div>
        <div class="text-left">
          <form [formGroup]="deleteProfileForm" (ngSubmit)="deleteProfileSubmit()">
            @if (commonError) {
              <div class="common-backend-error text-center mt-4">{{ commonError }}</div>
            }
            <label class="input-auth-name text-left mt-10 md:mt-8 lg:mt-10">Password</label>
            <div class="border-input" [class.border-input-error]="deleteProfileForm.controls.password.invalid && deleteProfileForm.controls.password.touched">
              <svg class="input-icon" fill="none" viewBox="0 0 16 16">
                <path d="M12.6667 7.3335H3.33333C2.59695 7.3335 2 7.93045 2 8.66683V13.3335C2 14.0699 2.59695 14.6668 3.33333 14.6668H12.6667C13.403 14.6668 14 14.0699 14 13.3335V8.66683C14 7.93045 13.403 7.3335 12.6667 7.3335Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.66675 7.3335V4.66683C4.66675 3.78277 5.01794 2.93493 5.64306 2.30981C6.26818 1.68469 7.11603 1.3335 8.00008 1.3335C8.88414 1.3335 9.73198 1.68469 10.3571 2.30981C10.9822 2.93493 11.3334 3.78277 11.3334 4.66683V7.3335" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <input class="input-text" formControlName="password" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
              <button type="button" (click)="hidePassword.set(!hidePassword())">
                @if (!hidePassword()) {
                  <svg class="w-4 h-4 shrink-0 my-auto text-[#494A4E]" fill="none" viewBox="0 0 16 16">
                    <path d="M0.666748 7.99984C0.666748 7.99984 3.33341 2.6665 8.00008 2.6665C12.6667 2.6665 15.3334 7.99984 15.3334 7.99984C15.3334 7.99984 12.6667 13.3332 8.00008 13.3332C3.33341 13.3332 0.666748 7.99984 0.666748 7.99984Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                } @else {
                  <svg class="w-4 h-4 shrink-0 my-auto text-[#494A4E]" fill="none" viewBox="0 0 16 16">
                    <path d="M11.96 11.9599C10.8204 12.8285 9.4327 13.3098 7.99996 13.3332C3.33329 13.3332 0.666626 7.99985 0.666626 7.99985C1.49589 6.45445 2.64605 5.10426 4.03996 4.03985M6.59996 2.82652C7.05885 2.71911 7.52867 2.66652 7.99996 2.66652C12.6666 2.66652 15.3333 7.99985 15.3333 7.99985C14.9286 8.75693 14.446 9.46968 13.8933 10.1265M9.41329 9.41319C9.23019 9.60969 9.00939 9.76729 8.76406 9.8766C8.51873 9.98591 8.25389 10.0447 7.98535 10.0494C7.71681 10.0542 7.45007 10.0048 7.20103 9.90418C6.952 9.80359 6.72577 9.65387 6.53586 9.46396C6.34594 9.27404 6.19622 9.04782 6.09563 8.79878C5.99504 8.54975 5.94564 8.283 5.95038 8.01446C5.95512 7.74592 6.0139 7.48108 6.12321 7.23575C6.23252 6.99042 6.39013 6.76962 6.58663 6.58652" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.666626 0.666504L15.3333 15.3332" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                }
              </button>
            </div>
            @if (deleteProfileForm.controls.password.touched && deleteProfileForm.controls.password.invalid) {
              <div>
                @if (deleteProfileForm.controls.password.errors?.["required"]) {
                  <small class="error-input-text">password is required</small>
                }
                @if (deleteProfileForm.controls.password.errors?.["minLength"]) {
                  <small class="error-input-text">Min length is 8</small>
                }
                @if (deleteProfileForm.controls.password.errors?.["maxLength"]) {
                  <small class="error-input-text">Max length is 64</small>
                }
                @if (deleteProfileForm.controls.password.errors?.["spaces"]) {
                  <small class="error-input-text">Can not contains spaces</small>
                }
              </div>
            }
            @if (deleteProfileForm.controls.password.errors?.['backend']; as backendErrors) {
              @for (err of backendErrors; track err) {
                <small class="error-input-text">{{ err }}</small>
              }
            }
            <div class="text-xs text-right mt-[6px] mr-1 mb-8 md:mb-11">
              Forgot password?
              <a class="underline" [routerLink]="['/reset-password']">Click here</a>
            </div>
            <button class="login-button blue-background-button" type="submit" [disabled]="isLoading() || deleteProfileForm.invalid">
              @if (isLoading()){
                <div class="w-6 h-6 my-auto mx-auto">
                  <svg class="animate-spin" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2V6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 18V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.93005 4.92969L7.76005 7.75969" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.24 16.2402L19.07 19.0702" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2 12H6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.93005 19.0702L7.76005 16.2402" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.24 7.75969L19.07 4.92969" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              } @else {
                Delete profile
              }
            </button>
            <div class="text-[#494A4E] flex gap-2 justify-center pt-5 hover:text-[#C9C9C9] transition-colors duration-200">
              <svg class="my-auto" width="8" height="13" viewBox="0 0 8 13" fill="none">
                <path d="M6.81691 0.318242C7.23941 0.740742 7.23941 1.42324 6.81691 1.84574L2.61358 6.04908L6.81691 10.2524C7.23941 10.6749 7.23941 11.3574 6.81691 11.7799C6.39441 12.2024 5.71191 12.2024 5.28941 11.7799L0.316914 6.80741C-0.105586 6.38491 -0.105586 5.70241 0.316914 5.27991L5.28941 0.307409C5.70108 -0.104258 6.39441 -0.104258 6.81691 0.318242Z" fill="currentColor"/>
              </svg>
              <a [routerLink]="['/profile']" class="block uppercase text-sm">
                Back to Profile
              </a>
            </div>
          </form>
        </div>
      } @else {
        <div class="text-lg lg:text-2xl mt-5 text-center text-nowrap">
          Your profile has been deleted
        </div>
        <div class="transition-colors duration-200 mt-5 login-button blue-background-button uppercase text-sm" [routerLink]="['']">
          Leave a chat
        </div>
      }
    </div>
  </div>
</div>
