
<div class="app-wrapper">
  <div class="auth-container">
    <div>
      <button name="button-login" (click)="isLogin.set(true)">Login</button>
      <button name="button-login" (click)="isLogin.set(false)">Rejestracja</button>
    </div>

    @if(isLogin()){
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <label class="login-labels">
          Username/Email
          <input
            formControlName = "usernameOrEmail"
            class="login-inputs" type="text" placeholder="example123">
        </label>

        <label class="login-labels">
          Password
          <input
            formControlName = "password"
            class="login-inputs" type="text" placeholder="example123">
        </label>

        <button type="submit">Login</button>
        <a [routerLink]="['/reset-password']">Zapomninałeś hasła?</a>
      </form>
    } @else {
      <form class="login-form" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
        <label class="auth-labels">
          Email
          <input
            formControlName = "email"
            class="auth-inputs" type="text" placeholder="example123">
        </label>

        <label class="auth-labels">
          Username
          <input
            formControlName = "username"
            class="auth-inputs" type="text" placeholder="example123">
        </label>

        <label class="auth-labels">
          Password
          <input
            formControlName = "password"
            class="auth-inputs" type="text" placeholder="example123">
        </label>

        <label class="auth-labels">
          Confirm Password
          <input
            formControlName = "passwordConfirmed"
            class="auth-inputs" type="text" placeholder="example123">
        </label>

        <button type="submit">Zarejestruj się</button>
      </form>
    }
  </div>
</div>
