@if(quickMessageList?.length ===0){
  You don't have any messages at this moment
} @else {
  @if (messageForm.controls.message.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }
  @for (messages of quickMessageList; track messages.idQuickMessage){
    @if (commonError) {
      <div>{{ commonError }}</div>
    }
    <div>
      Your message:
      <input [(ngModel)]="messages.message" (focus)="onStart(messages)" (ngModelChange)="onChange(messages)"
      #msgInput="ngModel"
      required
      minlength="1"
      maxlength="50"
     pattern=".*\S.*">
      @if (msgInput.touched && msgInput.invalid){
        @if(msgInput.errors?.["required"]) {<small>message is required</small>}
        @if(msgInput.errors?.["minlength"]) {<small>Min length is 1</small>}
        @if(msgInput.errors?.["maxlength"]) {<small>Max length is 50</small>}
        @if(msgInput.errors?.['pattern']) {<small>Cannot contain only whitespace</small>}
      }
      @if(messages.isEditing){
        <button (click)="update(messages)">Update</button>
        <button (click)="cancel(messages)">Cancel</button>
      }
      <button (click)="delete(messages.idQuickMessage)">Delete message</button>
    </div>
  }
}

<button (click)="changeStatus()">Add message</button>

@if (isCreateOn()){
  @if (commonError) {
    <div>{{ commonError }}</div>
  }
  <br>
  <div [formGroup]="messageForm">
    <input type="text" placeholder="Enter new message" formControlName="message">
    @if (messageForm.controls.message.touched && messageForm.controls.message.invalid){
      @if(messageForm.controls.message.errors?.["required"]) {<small>message is required</small>}
      @if(messageForm.controls.message.errors?.["minLength"]) {<small>Min length is 1</small>}
      @if(messageForm.controls.message.errors?.["maxLength"]) {<small>Max length is 50</small>}
      @if (messageForm.controls.message.errors?.["whitespace"]) {<small>Can not contains whitespace</small>}
    }
    <br>
    @if (messageForm.controls.message.errors?.['backend']; as backendErrors) {
      @for (err of backendErrors; track err) {
        <small>{{ err }}</small>
      }
    }
  </div>
  <button (click)="create()">Save new message</button>
}
