@if(quickMessageList?.length ===0){
  You don't have any messages at this moment
} @else {
  @for (messages of quickMessageList; track messages.idQuickMessage){
    <div>
      Your message:
      <input [(ngModel)]="messages.message" (focus)="onStart(messages)" (ngModelChange)="onChange(messages)">
      @if(messages.isEditing){
        <button (click)="update(messages)">Update</button>
        <button (click)="cancel(messages)">Cancel</button>
      }
      <button (click)="delete(messages.idQuickMessage)">Delete message</button>
    </div>
  }
}

<button (click)="changeStatus()">Add message</button>

@if (isCreateOn()){
  <br>
  <input type="text" [(ngModel)]="quickMessage.message" placeholder="Enter new message">
  <br>
  <button (click)="create()">Save new message</button>
}
