<div class="container">
  <div class="chat-header">
    <button (click)="changeIsDisconnectStatus('exit')">Back</button>
    @if (isSingleChat) {
      <div class="chat-param">
        <span>Username: qwerty123</span>
        <span>Age: 20-25</span>
        <span>Gender: Man</span>
        <span>Country: Poland</span>
      </div>
    } @else {
      <div class="chat-param">
        <span>GroupName: {{ group.title }}</span>
        @if (group.country !== null) {
          <span>Country: {{ CountryList[group.country] }}</span>
        }
        @if (group.city !== null) {
          <span>City: {{ CityList[group.city] }}</span>
        }
        @if (group.age !== null) {
          <span>Age: {{ AgeList[group.age] }}</span>
        }
        @if (group.lang !== null) {
          <span>Lang: {{ LangList[group.lang] }}</span>
        }
      </div>
    }
    <button (click)="isActivateSettings.set(!isActivateSettings())">⚙️</button>
  </div>

  <div class="chat-messages">
    <ul>
      @for (msg of messages; track $index) {
        <li [ngClass]="{ 'mine-message': msg.user === username, 'another-message': msg.user !== username }">
          {{msg.message}}
        </li>
      }
    </ul>
  </div>

  <div class="chat-footer-wrapper">
    @if (isSingleChat){
      <h2>SINGLE CHAT</h2>
    } @else {
      <h2>GROUP CHAT</h2>
    }
    @if (!isSendQuickMessage()) {
      <div class="chat-quick-message">
        @for (quickMessage of quickMessageList; track quickMessage.idQuickMessage) {
          <button (click)="sendQuickMessage(quickMessage.message)">{{ quickMessage.message }}</button>
        }
      </div>
    }
  </div>

  <div class="chat-footer">
    @if (isSingleChat) {
      <button (click)="changeIsDisconnectStatus('skip')">Skip</button>
    }
    <input [(ngModel)]="message" placeholder="Message"/>
    <button (click)="sendMessage()">Send</button>
  </div>

  @if (isDisconnect() === 'skip') {
    <div class="skip-person">
      Do you want to skip person?
      <button (click)="exitChat(false)">Yes</button>
      <button (click)="changeIsDisconnectStatus(null)">No</button>
    </div>
  }

  @if (isActivateSettings()) {
    @if (isSingleChat) {
      <div class="chat-block-user">
        <button (click)="blockPerson()">Block user</button>
        @if (isPersonBlocked()) {
          <h2><span>Person has blocked!</span></h2>
          Do you want to find a new person?
          <button (click)="findNewPerson()">Yes</button>
          <button (click)="router.navigate(['/'])">No</button>
        }
      </div>
    }
    @if (!isSingleChat && group.isAdmin) {
      <button>Leave group</button>
      <button (click)="getGroupMembers()">List of users</button>

      <br>Title:  <input [(ngModel)]="groupEditable.title">

      <div class="form-group">
        <label for="country">Country:</label>
        <select id="country" [(ngModel)]="groupEditable.country">
          @for (country of countryList; track country.value) {
            <option [ngValue]="country.value">{{ country.label }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <select id="city" [(ngModel)]="groupEditable.city">
          @for (city of cityList; track city.value) {
            <option [ngValue]="city.value">{{ city.label }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <select id="age" [(ngModel)]="groupEditable.age">
          @for (age of ageList; track age.value) {
            <option [ngValue]="age.value">{{ age.label }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="language">Language</label>
        <select id="language" [(ngModel)]="groupEditable.lang">
          @for (gender of langList; track gender.value) {
            <option [ngValue]="gender.value">{{ gender.label }}</option>
          }
        </select>
      </div>
      <button (click)="updateGroupData()">Update info</button>
    }
  }
</div>


@if (isDisconnect() === 'exit') {
  <div class="leave-chat-block">
    Do you want to quite chat?
    <button (click)="exitChat(true)">Yes</button>
    <button (click)="changeIsDisconnectStatus(null)">No</button>
  </div>
}

@if (isOtherPersonLeft()) {
  <div class="person-disconnected">
    <h2>Person has disconnected!</h2>
    Do you want to find new person?
    <button (click)="findNewPerson()">Yes</button>
    <button (click)="router.navigate(['/'])">No</button>
  </div>
}

@if (isShowNewFinder()){
  <div class="waiting-partner">
    <h2>Waiting for new matching...</h2>
  </div>
}

@if (isGroupMember()){
  <h2>List of groups</h2>
  @for (members of groupMembers; track members.idPerson){
    <div>
      <span>{{members.username}}</span>
      <button>Block user</button>
    </div>
  }
}
