<div class="flex flex-col h-[100dvh] max-w-[1000px] mx-auto">
  <div class="flex w-full justify-between mx-auto px-8 mt-5 md:mt-10 lg:mt-8 pb-2">
    <button (click)="isOtherPersonLeft() ? router.navigate(['/']) : changeIsDisconnectStatus('exit')" class="flex items-center justify-center p-0 bg-transparent border-0 cursor-pointer my-auto focus:outline-none" type="button">
      <svg fill="none" height="24" stroke="#B4B4B4" viewBox="0 0 24 24" width="24">
        <path d="M9 14L4 9L9 4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <path d="M22.5 16C22.5 15 23.5 9 16.1757 9H4.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>
    </button>
    @if (chatPersonInfo.isSingleChat || (!chatPersonInfo.isSingleChat && updateGroupForm.controls.isAdmin.value)) {
      <button (click)="isActivateSettings.set(!isActivateSettings())" type="button" class="flex items-center justify-center p-0 bg-transparent border-0 cursor-pointer my-auto focus:outline-none">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" stroke="#B4B4B4" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7.05 6.462a2 2 0 0 0 2.63-1.519l.32-1.72a9 9 0 0 1 3.998 0l.322 1.72a2 2 0 0 0 2.63 1.519l1.649-.58a9 9 0 0 1 2.001 3.46l-1.33 1.14a2 2 0 0 0 0 3.037l1.33 1.139a9 9 0 0 1-2.001 3.46l-1.65-.58a2 2 0 0 0-2.63 1.519L14 20.777a9 9 0 0 1-3.998 0l-.322-1.72a2 2 0 0 0-2.63-1.519l-1.649.58a9 9 0 0 1-2.001-3.46l1.33-1.14a2 2 0 0 0 0-3.036L3.4 9.342a9 9 0 0 1 2-3.46zM12 9a3 3 0 1 1 0 6a3 3 0 0 1 0-6" clip-rule="evenodd"/>
        </svg>
      </button>
    }
  </div>

  @if (!chatPersonInfo.isSentMessage) {
    <button class="md:hidden text-xs quick-message-border py-2 px-5 w-fit absolute z-50 bottom-[12%] left-1/2 -translate-x-1/2" (click)="isShowQuickMessages.set(!isShowQuickMessages())">
      @if (!isShowQuickMessages()) {
        Quick messages
      } @else {
        Close
      }
    </button>

    <div class="fixed inset-0 z-40 transition-all duration-300 ease-in-out md:bg-transparent md:backdrop-blur-none md:pointer-events-none" [ngClass]="isShowQuickMessages() ? 'opacity-100 bg-[#1111114D] backdrop-blur-xs pointer-events-auto' : 'opacity-0 bg-transparent backdrop-blur-none pointer-events-none md:opacity-100'">
      <div class="absolute w-max flex flex-wrap justify-center flex-col md:flex-row gap-6 md:gap-11 left-1/2 bottom-[25%] md:bottom-[12%] rounded-[10px] px-10 py-20 md:p-0 transition-all duration-300 ease-in-out md:pointer-events-auto md:translate-y-0 md:scale-100" [ngClass]="isShowQuickMessages() ? '-translate-x-1/2 translate-y-0 scale-100' : '-translate-x-1/2 translate-y-8 scale-95'">
        @for (quickMessage of quickMessageList; track quickMessage.idQuickMessage) {
          <button class="quick-message-border text-center text-[10px] px-3 py-2 h-20 w-[180px] break-words lg:text-sm lg:w-[200px]" (click)="sendQuickMessage(quickMessage.message)">
            {{ quickMessage.message }}
          </button>
        }
      </div>
    </div>
  }

  <div #chatContainer (scroll)="onScroll()" class="relative px-2 min-[500px]:px-6 md:px-10 max-h-[80vh] overflow-y-auto no-scrollbar mb-5">
    <ul class="flex flex-col">
      @for (msg of messages; track $index) {
        <li class="text-white text-sm max-w-[80%] md:max-w-[60%] relative" [ngClass]="{
            'mine-message': msg.idSender === chatPersonInfo.idPerson,
            'another-message': msg.idSender !== chatPersonInfo.idPerson,
            'mt-[6px]': isMessageGrouped($index),
            'mt-3': !isMessageGrouped($index) && $index !== 0
            }">
          <span class="break-words">{{ msg.message }}</span>
          <span class="inline-block w-8 h-1">&#8203;</span>
          <span class="absolute bottom-2 right-3 select-none text-[10px] opacity-50 whitespace-nowrap">
            {{ msg.createdAt | date:'HH:mm' }}
        </span>
        </li>
      }
      @if (isOtherPersonLeft()) {
        <div class="flex flex-col items-center mt-6">
          <span class="text-[#EA4550] text-sm md:text-base">Person has disconnected!</span>
          <button class="border-buttons text-sm py-3 px-5 md:py-2.5 md:px-9 lg:text-base mt-2" (click)="findNewPerson()">Start new chat</button>
        </div>
      }
    </ul>
  </div>

  <div class="flex justify-center items-center px-2 min-[500px]:px-6 md:px-10 lg:px-12 gap-3 md:gap-5 h-10 mt-auto mb-10">
    @if (chatPersonInfo.isSingleChat) {
      @if (isDisconnect() === null) {
        <button (click)="changeIsDisconnectStatus('skip')" class="border-buttons text-xs py-3 px-5 md:py-2.5 md:px-9 md:text-sm lg:text-base">
          Skip
        </button>
      }
      @if (isDisconnect() === 'skip') {
        <div class="grid grid-cols-2 gap-2 h-full text-xs w-20 shrink-0 md:w-[130px] md:text-sm lg:text-base">
          <button class="border-buttons" (click)="exitChat(false)">Yes</button>
          <button class="button-send" (click)="changeIsDisconnectStatus(null)">No</button>
        </div>
      }
    }
    <div class="flex flex-col h-full max-w-[1000px] w-full relative">
      <div class="border-buttons flex items-center h-full">
        <input [formControl]="currentMessageControl" class="placeholder:text-[#FFFFFF33] outline-0 text-xs px-5 w-full h-full" placeholder="Type here" type="text">
      </div>
      @if (currentMessageControl.invalid && currentMessageControl.touched) {
        @if (currentMessageControl.hasError('maxLength')) {
          <small class="absolute top-[-70%] error-input-text">Max length is {{ currentMessageControl.errors?.['maxLength'].requiredLength }}</small>
        }
      }
    </div>
    <button (click)="sendMessage()" class="button-send text-xs py-3 px-5 md:py-2.5 md:px-9 md:text-sm lg:text-base">
      Send
    </button>
  </div>
</div>

@if (isDisconnect() === 'exit') {
  <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300">
    <div class="border-out px-2 py-4 md:p-5 mx-auto">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] text-center">
        <div class="text-2xl lg:text-3xl">
          Do you want<br> to leave chat?
        </div>
        <div class="grid grid-cols-2 gap-4 h-10 text-lg w-[200px] shrink-0 md:w-[270px] md:gap-6 md:h-14 mx-auto mt-6">
          <button class="border-buttons" (click)="exitChat(true)">Yes</button>
          <button class="button-send" (click)="changeIsDisconnectStatus(null)">No</button>
        </div>
      </div>
    </div>
  </div>
}

@if (isPersonBlocked()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300">
    <div class="border-out px-2 py-4 md:p-5 mx-auto">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] text-center">
        <div class="text-2xl lg:text-3xl">
          Person has blocked!
        </div>
        <button class="button-send w-[100px] h-10 mt-6 text-xl md:h-12 md:w-[150px]" (click)="isPersonBlocked.set(false)">Great!</button>
      </div>
    </div>
  </div>
}

@if (isNewAdminNotification() && updateGroupForm.controls.isAdmin.value) {
  <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300">
    <div class="border-out px-2 py-4 md:p-5 mx-auto">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] text-center">
        <div class="text-2xl lg:text-3xl">
          Congratulations! <br>
          You are an admin now
        </div>
        <button class="button-send w-[100px] h-10 mt-6 text-xl md:h-12 md:w-[150px]" (click)="isNewAdminNotification.set(false)">Great!</button>
      </div>
    </div>
  </div>
}

@if (isDeleteGroupStatus()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300">
    <div class="border-out px-2 py-4 md:p-5 mx-auto">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] text-center">
        <div class="text-2xl lg:text-3xl">
          The group <br> was deleted!
        </div>
        <button class="button-send w-[100px] h-10 mt-6 text-xl md:h-12 md:w-[150px]" (click)="router.navigate(['/'])">Okay</button>
      </div>
    </div>
  </div>
}

@if (isShowNewFinder()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300">
    <div class="border-out px-2 py-4 md:p-5 mx-auto">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] text-center">
        <svg class="mx-auto animate-spin" width="62" height="62" viewBox="0 0 62 62" fill="none">
          <circle cx="31" cy="31" r="27.5" stroke="white" stroke-width="7"/>
          <path d="M31 3.49231C31 1.56356 32.5685 -0.0203288 34.485 0.1965C38.9772 0.704734 43.3188 2.1913 47.1975 4.56815C52.0721 7.55533 56.0257 11.8323 58.6212 16.9263C61.2167 22.0203 62.353 27.7328 61.9044 33.4322C61.5475 37.9672 60.1983 42.3534 57.969 46.2864C57.0179 47.9644 54.8146 48.3023 53.2542 47.1686C51.6938 46.0349 51.3737 43.8597 52.2693 42.1515C53.772 39.2855 54.6856 36.1342 54.9414 32.8842C55.2888 28.4689 54.4086 24.0435 52.3979 20.0972C50.3872 16.151 47.3243 12.8376 43.548 10.5235C40.7684 8.82017 37.6819 7.70703 34.4801 7.23809C32.5717 6.95859 31 5.42105 31 3.49231Z" fill="#587CEA"/>
        </svg>
        <div class="text-xl md:text-2xl lg:text-3xl mt-5 md:mt-10">
          Looking for right<br>
          person for you!
        </div>
        <div class="text-[#B4B4B4] text-sm lg:text-base mt-2.5 md:mt-6 mb-11 md:mb-14">
          It may take a minute, be patient.
        </div>
        <button (click)="cancelFindPerson()" type="button" class="login-button blue-background-button">
          Cancel
        </button>
      </div>
    </div>
  </div>
}

@if (isAdminStatusInfo()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300">
    <div class="border-out px-2 py-4 md:p-5 mx-auto">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 w-[338px] md:w-[390px] text-center">
        <div class="text-xl lg:text-2xl">
          You are an admin.<br> What action do you prefer?
        </div>
        <div class="grid grid-cols-2 gap-4 h-12 text-base w-[300px] shrink-0 md:w-[320px] md:gap-6 md:h-14 mx-auto mt-6">
          <button class="border-buttons" (click)="deleteGroupChat()">Delete group</button>
          <button class="button-send" (click)="getGroupMembers()">Set admin</button>
        </div>
      </div>
    </div>
  </div>
}

@if (isActivateSettings()) {
  <div class="fixed inset-0 z-50 flex items-center flex-col justify-center backdrop-blur-xs bg-black/10 transition-all duration-300 px-4">
    @if (!chatPersonInfo.isSingleChat && updateGroupForm.controls.isAdmin.value) {
      <div class="flex justify-between w-full max-w-[600px] lg:max-w-[800px] mb-4">
        <button class="text-[#B4B4B4] flex gap-2 justify-center hover:text-[#C9C9C9] transition-colors duration-200 my-auto" (click)="isActivateSettings.set(false); titleError=''">
          <svg class="my-auto" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path d="M6.81691 0.318242C7.23941 0.740742 7.23941 1.42324 6.81691 1.84574L2.61358 6.04908L6.81691 10.2524C7.23941 10.6749 7.23941 11.3574 6.81691 11.7799C6.39441 12.2024 5.71191 12.2024 5.28941 11.7799L0.316914 6.80741C-0.105586 6.38491 -0.105586 5.70241 0.316914 5.27991L5.28941 0.307409C5.70108 -0.104258 6.39441 -0.104258 6.81691 0.318242Z" fill="currentColor"/>
          </svg>
          <span class="block uppercase text-sm">Back to MAIN PAGE</span>
        </button>
        <button class="text-base py-3 px-5 button-send" (click)="getGroupMembers()">
          List of users
        </button>
      </div>
    }
    <div class="border-out px-2 py-4 md:p-10 mx-auto w-full max-w-[600px] lg:max-w-[800px]">
      <div class="border-in px-4 pb-5 md:px-5 text-center pt-4 md:pt-10">

        @if (chatPersonInfo.isSingleChat) {
          <div class="text-2xl lg:text-3xl">
            Do you want to block person?
          </div>
          <button class="button-send w-[100px] h-10 mt-6 text-xl md:h-12 md:w-[150px]" (click)="blockPerson()">Block</button>
        }
        @if (!chatPersonInfo.isSingleChat && updateGroupForm.controls.isAdmin.value) {
          <div class="text-2xl md:text-3xl">
            Update your group
          </div>
          <div class="text-[#B4B4B4] mt-5">
            Change filter <br class="md:hidden"> to interest more people
          </div>

          @if (commonErrorUpdateChat) {
            <div class="common-backend-error"> {{ commonErrorUpdateChat }}</div>
          }

          <form [formGroup]="updateGroupForm" (ngSubmit)="updateGroupData()" class="mt-6 text-left">
            <div class="grid gap-6 md:grid-cols-2 md:gap-y-9 lg:max-w-[750px] lg:mx-auto">
              <div>
                <label class="input-auth-name">Title</label>
                <div class="border-input" [class.border-input-error]="updateGroupForm.controls.title.invalid && updateGroupForm.controls.title.touched">
                  <input [class.text-[#EA4550]]="updateGroupForm.controls.title.invalid && updateGroupForm.controls.title.touched"
                         [class.placeholder:text-[#EA4550]]="updateGroupForm.controls.title.invalid && updateGroupForm.controls.title.touched"
                         class="input-text" formControlName="title" type="text" placeholder="Enter title">
                </div>
                @if (updateGroupForm.controls.title.touched && updateGroupForm.controls.title.invalid) {
                  <div>
                    @if (updateGroupForm.controls.title.errors?.["required"]) {
                      <small class="error-input-text">Title is required</small>
                    }
                    @if (updateGroupForm.controls.title.errors?.["minLength"]) {
                      <small class="error-input-text">Min length is {{ updateGroupForm.get('title')?.errors?.['minLength'].requiredLength }}</small>
                    }
                    @if (updateGroupForm.controls.title.errors?.["maxLength"]) {
                      <small class="error-input-text">Max length is {{ updateGroupForm.get('title')?.errors?.['maxLength'].requiredLength }}</small>
                    }
                  </div>
                }
                @if (updateGroupForm.controls.title.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }
              </div>
              <div>
                <label class="input-auth-name">Country</label>
                <app-dropdown-select [items]="countryList" placeholder="Choose country" formControlName="country"></app-dropdown-select>
                @if (updateGroupForm.controls.country.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }
              </div>
              <div>
                <label class="input-auth-name">City</label>
                <app-dropdown-select [items]="cityList" placeholder="Choose city" formControlName="city"></app-dropdown-select>
                @if (updateGroupForm.controls.city.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }
              </div>
              <div>
                <label class="input-auth-name">Age</label>
                <app-dropdown-select [items]="ageList" placeholder="Choose age" formControlName="age"></app-dropdown-select>
                @if (updateGroupForm.controls.age.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }
              </div>
              <div>
                <label class="input-auth-name">Language</label>
                <app-dropdown-select [items]="langList" placeholder="Choose language" formControlName="lang"></app-dropdown-select>
                @if (updateGroupForm.controls.lang.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }
              </div>
            </div>
            <button type="submit" [disabled]="updateGroupForm.invalid" class="login-button blue-background-button mt-8 md:mt-11 md:max-w-[239px] md:mx-auto md:block">
              Update group
            </button>
          </form>
        }
      </div>
    </div>
  </div>
}

@if (isGroupMember()) {
  <div class="fixed flex-col inset-0 z-50 flex items-center justify-center backdrop-blur-xs bg-black/10 transition-all duration-300 px-4">
    <div class="w-full max-w-[600px] lg:max-w-[800px] mb-4">
      <button class="text-[#B4B4B4] flex gap-2 justify-center hover:text-[#C9C9C9] transition-colors duration-200 my-auto" (click)="isGroupMember.set(false)">
        <svg class="my-auto" width="8" height="13" viewBox="0 0 8 13" fill="none">
          <path d="M6.81691 0.318242C7.23941 0.740742 7.23941 1.42324 6.81691 1.84574L2.61358 6.04908L6.81691 10.2524C7.23941 10.6749 7.23941 11.3574 6.81691 11.7799C6.39441 12.2024 5.71191 12.2024 5.28941 11.7799L0.316914 6.80741C-0.105586 6.38491 -0.105586 5.70241 0.316914 5.27991L5.28941 0.307409C5.70108 -0.104258 6.39441 -0.104258 6.81691 0.318242Z" fill="currentColor"/>
        </svg>
        <span class="block uppercase text-sm">Back to MAIN PAGE</span>
      </button>
    </div>
    <div class="border-out px-2 py-4 md:p-5 mx-auto w-full max-w-[600px] lg:max-w-[800px]">
      <div class="border-in px-4 pt-10 pb-5 md:px-5 text-center">
        <div class="text-xl lg:text-2xl">
          List of group members
        </div>
        @if (commonErrorBlockGroupMember) {
          <div class="common-backend-error">{{ commonErrorBlockGroupMember }}</div>
        }
        @if (commonErrorSetNewAdmin) {
          <div class="common-backend-error">{{ commonErrorSetNewAdmin }}</div>
        }
        @if (commonErrorGetGroupMembers) {
          <div class="common-backend-error">{{ commonErrorGetGroupMembers }}</div>
        }
        <div class="grid gap-5 mt-6">
          @for (members of groupMembers; track members.idPerson) {
            <div class="flex flex-col md:flex-row md:justify-between md:items-center bg-[#21262d] border border-gray-800 md:pl-8 rounded-2xl p-4 gap-2 w-full min-w-0 md:gap-0 lg:bg-transparent lg:border-0 border-profile-desktop">
              <div class="text-base w-full md:w-auto md:flex-1 md:min-w-0 truncate md:text-left" [title]="members.idPerson">
                {{ members.username }}
              </div>
              <div class="flex justify-between items-center md:gap-5">
                <button class="text-[#B4B4B4] text-sm md:text-base" (click)="setNewAdmin(members.idPerson)">Set admin</button>
                <button class="bg-[#CA3A43] py-1.5 text-sm px-4 rounded-[8px] shrink-0" (click)="blockFromGroupChat(members.idPerson)">Block user</button>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
