<div class="chat">
  <h2>ChatZone</h2>
  <button>Back</button>
  <div class="filter">
    <span>Username: qwerty123</span>
    <span>Age: 20-25</span>
    <span>Gender: Man</span>
    <span>Country: Poland</span>
  </div>

  <div class="settings">
    <button>⚙️</button>
  </div>

  <div style="max-width: 500px; margin: auto;">
    <ul class="mt-3">
      @for (msg of messages; track $index) {
        <li [ngClass]="{ 'mine': msg.user === username, 'theirs': msg.user !== username }">
          <strong>{{msg.user === username ? 'Me' : msg.user}}</strong> {{ msg.message }}
        </li>
      }
    </ul>
  </div>


  <div style="max-width: 500px; margin: auto;">
    <button>Change</button>
    <input [(ngModel)]="message" placeholder="Message" class="form-control" />
    <button (click)="sendMessage()" class="btn btn-primary mt-2">Send</button>
  </div>

</div>
