<div class="chat">
  <h2>ChatZone</h2>
  <button (click)="changeIsDisconnectStatus('exit')">Back</button>
  @if (isDisconnect() === 'exit'){
    <div>
      Do you want to quite chat?
      <button (click)="exitChat(true)">Yes</button>
      <button (click)="changeIsDisconnectStatus(null)">No</button>
    </div>
  }
  <div class="filter">
    <span>Username: qwerty123</span>
    <span>Age: 20-25</span>
    <span>Gender: Man</span>
    <span>Country: Poland</span>
  </div>

  <div class="settings">
    <button (click)="isActivateSettings.set(true)">⚙️</button>
    @if (isActivateSettings()){
      <button (click)="blockPerson()">Block user</button>
      @if (isPersonBlocked()){
        <h2><span>Person has blocked!</span></h2>
        Do you want to find a new person?
        <button (click)="findNewPerson()">Yes</button>
        <button (click)="router.navigate(['/'])">No</button>
      }
    }
  </div>

  <div style="max-width: 500px; margin: auto;">
    <ul class="mt-3">
      @for (msg of messages; track $index) {
        <li [ngClass]="{ 'mine': msg.user === username, 'theirs': msg.user !== username }">
          <strong>{{msg.user === username ? 'Me' : msg.user}}</strong> {{ msg.message }}
        </li>
      }
    </ul>
  </div>

  @if (!isSendQuickMessage()){
    <div>
      @for (quickMessage of quickMessageList;track quickMessage.idQuickMessage){
        <button (click)="sendQuickMessage(quickMessage.message)">{{quickMessage.message}}</button>
      }
    </div>
  }

  <div style="max-width: 500px; margin: auto;">
    <button (click)="changeIsDisconnectStatus('skip')">Skip</button>
    <input [(ngModel)]="message" placeholder="Message" class="form-control" />
    <button (click)="sendMessage()" class="btn btn-primary mt-2">Send</button>
  </div>
  @if (isDisconnect() === 'skip'){
    Do you want to skip person?
    <button (click)="exitChat(false)">Yes</button>
    <button (click)="changeIsDisconnectStatus(null)">No</button>
  }

</div>

@if (isOtherPersonLeft()) {
  <h2 class="person-disconnected">Person has disconnected!</h2>
  Do you want to find new person?
  <button (click)="findNewPerson()">Yes</button>
  <button (click)="router.navigate(['/'])">No</button>
}

@if (isShowNewFinder()){
  <h2>Waiting for new matching...</h2>
}
