<form class="profile-form" [formGroup]="updateProfileForm" (ngSubmit)="onClickUpdate()">
  @if (commonError) {
    <div>{{ commonError }}</div>
  }
  <div>
    Email:
    <input type="email" [value]="profile.email" readonly>
  </div>
  <div>
    Username:
    <input type="text" formControlName="username" name="username">
    @if (updateProfileForm.controls.username.touched && updateProfileForm.controls.username.invalid){
      @if(updateProfileForm.controls.username.errors?.["required"]) {<small>username is required</small>}
      @if(updateProfileForm.controls.username.errors?.["minLength"]) {<small>Min length is 8</small>}
      @if(updateProfileForm.controls.username.errors?.["maxLength"]) {<small>Max length is 30</small>}
      @if (updateProfileForm.controls.username.errors?.["spaces"]) {<small>Can not contains spaces</small>}
      @if(updateProfileForm.controls.username.errors?.["pattern"]) {<small>Username can not contains special symbols, just '_' and '-'</small>}
    }
    @if (updateProfileForm.controls.username.errors?.['backend']; as backendErrors) {
      @for (err of backendErrors; track err) {
        <small>{{ err }}</small>
      }
    }
  </div>

  <div>
    Do you want find by profile filter?
    <input type="radio" id="yes" name="isFindByProfile" [(ngModel)]="profile.isFindByProfile" [value]="true">
    <label for="yes">Yes</label>

    <input type="radio" id="no" name="isFindByProfile" [(ngModel)]="profile.isFindByProfile" [value]="false">
    <label for="no">No</label>
  </div>

  <ul>
    <button (click)="onClickDeleteProfile()">Delete profile</button>
    <button (click)="onClickUpdatePassword()">Change password</button>
    <button type="submit">Save changes</button>
  </ul>
</form>
