<form class="profile-form" (ngSubmit)="onClickUpdate()">
  @if (commonError) {
    <div>{{ commonError }}</div>
  }
  <div>
    Email:
    <input type="email" [value]="profile.email" readonly>
  </div>
  <div>
    Username:
    <input type="text" name="username" [(ngModel)]="profile.username">
    @if (updateProfileForm.controls.username.errors?.['backend']; as backendErrors) {
      @for (err of backendErrors; track err) {
        <small>{{ err }}</small>
      }
    }
  </div>

  <div>
    Do you want find by profile filter?
    <input type="radio" id="yes" name="isFindByProfile" [(ngModel)]="profile.isFindByProfile" [value]="true">
    <label for="yes">Yes</label>

    <input type="radio" id="no" name="isFindByProfile" [(ngModel)]="profile.isFindByProfile" [value]="false">
    <label for="no">No</label>
  </div>

  <ul>
    <button (click)="onClickDeleteProfile()">Delete profile</button>
    <button (click)="onClickUpdatePassword()">Change password</button>
    <button type="submit">Save changes</button>
  </ul>
</form>
