<!--<form action="" class="login-form" [formGroup]="form" ]>
  Rejestracja

  <label class="auth-labels">
    Email
    <input
      formControlName = "email"
      class="auth-inputs" type="text" placeholder="example123">
  </label>

  <label class="auth-labels">
    Username
    <input
      formControlName = "username"
      class="auth-inputs" type="text" placeholder="example123">
  </label>

  <label class="auth-labels">
    Password
    <input
      formControlName = "password"
      class="auth-inputs" type="text" placeholder="example123">
  </label>

  <label class="auth-labels">
    Confirm Pasword
    <input
      formControlName = "passwordConfirmed"
      class="auth-inputs" type="text" placeholder="example123">
  </label>

  <button type="submit">Zarejestruj się</button>

</form>-->


<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  Rejestracja

  <label class="login-labels">
    Username/Email
    <input
      formControlName = "usernameOrEmail"
      class="login-inputs" type="text" placeholder="example123">
  </label>

  <label class="login-labels">
    Password
    <input
      formControlName = "password"
      class="login-inputs" type="text" placeholder="example123">
  </label>

  <button type="submit">Login</button>

</form>
