@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

  /*background-color: #f8f9fa; !* light background *!*/
  background-color: rgb(32 19 18 ); /*dark background*/

  background-image:
    radial-gradient(at 0% 0%, rgba(220, 53, 69, 0.15) 0px, transparent 50%), /* color top left */
    radial-gradient(at 100% 0%, rgba(102, 16, 242, 0.1) 0px, transparent 50%), /* color top right */
    radial-gradient(at 100% 100%, rgba(220, 53, 69, 0.1) 0px, transparent 50%), /* color bottom right */
    radial-gradient(at 0% 100%, rgba(102, 16, 242, 0.15) 0px, transparent 50%); /* color bottom left */

  background-attachment: fixed;
  height: 100vh;
}

.frame-container {
  background-color: #17153B;
  border-radius: 30px;
  color: #D1D5DB;
}

.error-container small {
  @apply text-[#e6382c] text-[11px] font-medium block md:text-[12px];
}

.backend-error-message {
  color: #e6382c;
  text-align: center;
  font-weight: 600;
}

.input-field{
  @apply block py-3 bg-gray-600/70 w-full pl-10 pr-12 text-gray-300 rounded-2xl
  outline-none border-2 border-transparent duration-300 transition-all
  focus:border-gray-600 focus:scale-[1.02] md:pl-11 md:py-4
}

.input-icon {
  @apply absolute left-2 md:left-3 top-1/2 -translate-y-1/2 w-5 pointer-events-none;
}

.common-bottom{
  @apply bg-[#2E236C] hover:bg-[#3d2f8a] w-full rounded-2xl py-[6px] uppercase
  text-xl font-medium my-6 transition-all duration-300
  hover:scale-[1.02] active:scale-[0.98]
  hover:shadow-[0_10px_20px_rgba(0,0,0,0.4)]
  hover:-translate-y-0.5 active:translate-y-0 active:shadow-none
  disabled:opacity-50 disabled:cursor-not-allowed
  md:my-8 md:py-3 md:text-2xl lg:py-4
}

.attribute-name{
  @apply uppercase font-semibold text-sm pl-1 md:text-base
}

.input-error-active {
  @apply !border-red-700 !shadow-[0_0_10px_rgba(230,56,44,0.2)];
}
