* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #9496d1;
}

button{
  background-color: #3d3d8c;
  padding: 5px;
  color: #1a092c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #292967;
}

.container {
  background-color: #0b0b2d;
  color: #c14a4a;
  border-radius: 20px;
  padding: 40px;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

.common-information {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d0d0d0;
  padding: 30px;
}
