@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

  background: linear-gradient(110deg, #242424 1.05%, #132752 101.08%);

  /*background-color: rgb(32 19 18 ); !*dark background*!*/
  /*background-image:*/
  /*  radial-gradient(at 0% 0%, rgba(220, 53, 69, 0.15) 0px, transparent 50%), !* color top left *!*/
  /*  radial-gradient(at 100% 0%, rgba(102, 16, 242, 0.1) 0px, transparent 50%), !* color top right *!*/
  /*  radial-gradient(at 100% 100%, rgba(220, 53, 69, 0.1) 0px, transparent 50%), !* color bottom right *!*/
  /*  radial-gradient(at 0% 100%, rgba(102, 16, 242, 0.15) 0px, transparent 50%); !* color bottom left *!*/
  height: 100vh;
}
