<div class="text-white">

  @if (!isConfirmEmailPage()) {
    <div>
      <div>
        <h1 class="text-xl text-center">ChatZone</h1>
        <p class="text-center px-4 mt-20 mb-6 text-3xl md:text-4xl font-semibold">Connect with strangers
          instantly 💥</p>
      </div>
      <div class="border-out w-fit px-2 py-4 md:p-10 mx-auto">
        <div class="border-in px-4 pt-10 pb-5 md:px-5">
            <div class="text-base md:text-sm lg:text-base bg-[#272C35] rounded-[10px]">
              <button class="uppercase rounded-lg py-4 w-[152px] md:py-[14px] lg:py-4 md:w-[174px]"  (click)="isLogin.set(true)" [class.button-register]="isLogin()">Log in</button>
              <button class="uppercase rounded-lg py-4 w-[152px] md:py-[14px] lg:py-4 md:w-[174px]" (click)="isLogin.set(false)" [class.button-register]="!isLogin()">Sign up</button>
            </div>






          @if (isLogin()) {
            <div class="pt-5">
              <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                @if (commonErrorLogin) {
                  <div> {{ commonErrorLogin }}</div>
                }
                <label class="input-auth-name">Login</label>
                <div class="border-input" [class.border-input-error]="loginForm.controls.usernameOrEmail.invalid && loginForm.controls.usernameOrEmail.touched">
<!--                  <img src="/assets/imgs/user.svg" alt="">-->
                  <input
                    [class.text-[#EA4550]]="loginForm.controls.usernameOrEmail.invalid && loginForm.controls.usernameOrEmail.touched"
                    [class.placeholder:text-[#EA4550]]="loginForm.controls.usernameOrEmail.invalid && loginForm.controls.usernameOrEmail.touched"
                    class="input-text" formControlName="usernameOrEmail" type="text" placeholder="Enter your login">
                </div>

                @if (loginForm.controls.usernameOrEmail.touched && loginForm.controls.usernameOrEmail.invalid) {
                  <div>
                    @if (loginForm.controls.usernameOrEmail.errors?.["required"]) {
                      <small class="error-input-text">Login is required</small>
                    }
                    @if (loginForm.controls.usernameOrEmail.errors?.["minLength"]) {
                      <small class="error-input-text">Min length is {{ loginForm.get('usernameOrEmail')?.errors?.['minLength'].requiredLength }}</small>
                    }
                    @if (loginForm.controls.usernameOrEmail.errors?.["maxLength"]) {
                      <small class="error-input-text">Max length is {{ loginForm.get('usernameOrEmail')?.errors?.['maxLength'].requiredLength }}</small>
                    }
                    @if (loginForm.controls.usernameOrEmail.errors?.["spaces"]) {
                      <small class="error-input-text">Can not contains spaces</small>
                    }
                    @if (loginForm.controls.usernameOrEmail.errors?.["pattern"]) {
                      <small class="error-input-text">Login can not contains special symbols, just '_' and '-'</small>
                    }
                    @if (loginForm.controls.usernameOrEmail.hasError('email')) {
                      <small class="error-input-text">Email is not valid</small>
                    }
                  </div>
                }
                @if (loginForm.controls.usernameOrEmail.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }

                <label class="input-auth-name pt-6 md:pt-8">Password</label>
                <div class="border-input" [class.border-input-error]="loginForm.controls.password.invalid && loginForm.controls.password.touched">
<!--                  <img src="/assets/imgs/password.svg" alt="">-->
                  <input class="input-text" formControlName="password" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
<!--                  <button type="button" (click)="hidePassword.set(!hidePassword())">-->
<!--                    <img [src]="hidePassword() ? '/assets/imgs/eye-hide.svg' : '/assets/imgs/eye.svg'" alt="">-->
<!--                  </button>-->
                </div>
                @if (loginForm.controls.password.touched && loginForm.controls.password.invalid) {
                  <div>
                    @if (loginForm.controls.password.errors?.["required"]) {
                      <small class="error-input-text">password is required</small>
                    }
                    @if (loginForm.controls.password.errors?.["minLength"]) {
                      <small class="error-input-text">Min length is 8</small>
                    }
                    @if (loginForm.controls.password.errors?.["maxLength"]) {
                      <small class="error-input-text">Max length is 64</small>
                    }
                    @if (loginForm.controls.password.errors?.["spaces"]) {
                      <small class="error-input-text">Can not contains spaces</small>
                    }
                  </div>
                }
                @if (loginForm.controls.password.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }
                <div class="text-xs text-right mt-[6px] mr-1 mb-8 md:mb-11">
                  Forgot password?
                  <a class="underline" [routerLink]="['/reset-password']">Click here</a>
                </div>

                <button type="submit" [disabled]="isLoading() || loginForm.invalid"
                class="login-button">
                  @if (isLoading()){
<!--                    <img src="/assets/imgs/loading.svg" alt="">-->
                  } @else {
                    Login
                  }
                </button>

              </form>
            </div>
          }





















          @else {
            <div class="pt-5">
              <form [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
                @if (commonError) {
                  <div>{{ commonError }}</div>
                }
                <label class="input-auth-name">Email</label>
                <div class="border-input" [class.border-input-error]="registrationForm.controls.email.invalid && registrationForm.controls.email.touched">
<!--                  <img src="/assets/imgs/email.svg" alt="">-->
                  <input
                    [class.text-[#EA4550]]="registrationForm.controls.email.invalid && registrationForm.controls.email.touched"
                    [class.placeholder:text-[#EA4550]]="registrationForm.controls.email.invalid && registrationForm.controls.email.touched"
                    class="input-text" formControlName="email" type="email" placeholder="Enter your email">
                </div>
                @if (registrationForm.controls.email.invalid && registrationForm.controls.email.touched) {
                  <div>
                    @if (registrationForm.controls.email.hasError('email')) {
                      <small class="error-input-text">Email is not valid</small>
                    }
                    @if (registrationForm.controls.email.errors?.["required"]) {
                      <small class="error-input-text">email is required</small>
                    }
                    @if (registrationForm.controls.email.errors?.["minLength"]) {
                      <small class="error-input-text">Min length is 5</small>
                    }
                    @if (registrationForm.controls.email.errors?.["maxLength"]) {
                      <small class="error-input-text">Max length is 254</small>
                    }
                    @if (registrationForm.controls.email.errors?.["spaces"]) {
                      <small class="error-input-text">Can not contains spaces</small>
                    }
                  </div>
                }
                @if (registrationForm.controls.email.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text" >{{ err }}</small>
                  }
                }


                <label class="input-auth-name pt-6 md:pt-8">Username</label>
                <div class="border-input" [class.border-input-error]="registrationForm.controls.username.invalid && registrationForm.controls.username.touched">
<!--                  <img src="/assets/imgs/user.svg" alt="">-->
                  <input class="input-text" formControlName="username" type="text" placeholder="Enter your username">
                </div>
                @if (registrationForm.controls.username.touched && registrationForm.controls.username.invalid) {
                  <div>
                    @if (registrationForm.controls.username.errors?.["required"]) {
                      <small class="error-input-text">username is required</small>
                    }
                    @if (registrationForm.controls.username.errors?.["minLength"]) {
                      <small class="error-input-text">Min length is 8</small>
                    }
                    @if (registrationForm.controls.username.errors?.["maxLength"]) {
                      <small class="error-input-text">Max length is 30</small>
                    }
                    @if (registrationForm.controls.username.errors?.["spaces"]) {
                      <small class="error-input-text">Can not contains spaces</small>
                    }
                    @if (registrationForm.controls.username.errors?.["pattern"]) {
                      <small class="error-input-text">Username can not contains special symbols, just '_' and '-'</small>
                    }
                  </div>
                }
                @if (registrationForm.controls.username.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }


                <label class="input-auth-name pt-6 md:pt-8">Password</label>
                <div class="border-input" [class.border-input-error]="registrationForm.controls.password.invalid && registrationForm.controls.password.touched">
<!--                  <img src="/assets/imgs/password.svg" alt="">-->
                  <input class="input-text" formControlName="password" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
<!--                  <button type="button" (click)="hidePassword.set(!hidePassword())">-->
<!--                    <img [src]="hidePassword() ? '/assets/imgs/eye-hide.svg' : '/assets/imgs/eye.svg'" alt="">-->
<!--                  </button>-->
                </div>
                <div>
                  @if (registrationForm.errors?.["passwordMismatch"]) {
                    <small class="error-input-text">Passwords do not match</small>
                  }
                  @if (registrationForm.controls.password.touched && registrationForm.controls.password.invalid) {
                    <div>
                      @if (registrationForm.controls.password.errors?.["required"]) {
                        <small class="error-input-text">password is required</small>
                      }
                      @if (registrationForm.controls.password.errors?.["minLength"]) {
                        <small class="error-input-text">Min length is 8</small>
                      }
                      @if (registrationForm.controls.password.errors?.["maxLength"]) {
                        <small class="error-input-text">Max length is 64</small>
                      }
                      @if (registrationForm.controls.password.errors?.["spaces"]) {
                        <small class="error-input-text">Can not contains spaces</small>
                      }
                    </div>
                  }
                </div>
                @if (registrationForm.controls.password.errors?.['backend']; as backendErrors) {
                  @for (err of backendErrors; track err) {
                    <small class="error-input-text">{{ err }}</small>
                  }
                }

                <label class="input-auth-name pt-6 md:pt-8">Confirm Password</label>
                <div class="border-input" [class.border-input-error]="registrationForm.controls.confirmedPassword.invalid && registrationForm.controls.confirmedPassword.touched">
<!--                  <img src="/assets/imgs/password.svg" alt="">-->
                  <input class="input-text" formControlName="confirmedPassword" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
<!--                  <button type="button" (click)="hidePassword.set(!hidePassword())">-->
<!--                    <img [src]="hidePassword() ? '/assets/imgs/eye-hide.svg' : '/assets/imgs/eye.svg'" alt="">-->
<!--                  </button>-->
                </div>
                <div>
                  @if (registrationForm.errors?.["passwordMismatch"]) {
                    <small class="error-input-text">Passwords do not match</small>
                  }
                  @if (registrationForm.controls.confirmedPassword.touched && registrationForm.controls.confirmedPassword.invalid) {
                    <div>
                      @if (registrationForm.controls.confirmedPassword.errors?.["required"]) {
                        <small class="error-input-text">password is required</small>
                      }
                      @if (registrationForm.controls.confirmedPassword.errors?.["minLength"]) {
                        <small class="error-input-text">Min length is 8</small>
                      }
                      @if (registrationForm.controls.confirmedPassword.errors?.["maxLength"]) {
                        <small class="error-input-text">Max length is 64</small>
                      }
                      @if (registrationForm.controls.confirmedPassword.errors?.["spaces"]) {
                        <small class="error-input-text">Can not contains spaces</small>
                      }
                    </div>
                  }
                </div>





                <button class="login-button" type="submit" [disabled]="isLoading() || registrationForm.invalid">
                  @if (isLoading()) {
                    <div>
<!--                      <img src="/assets/imgs/loading.svg" alt="">-->
                    </div>
                  } @else {
                    <span>Signup</span>
                  }
                </button>
              </form>
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    Proszę podtwierdzić email żeby aktywować konto. Link został wysłany mailowo
    <a [routerLink]="['/']">Przejdź do strony głównej</a>
  }
</div>
