
<div class="app-wrapper">

  @if(!isConfirmEmailPage()){
    <div class="auth-container">
      <div>
        <button name="button-login" (click)="isLogin.set(true)">Login</button>
        <button name="button-login" (click)="isLogin.set(false)">Rejestracja</button>
      </div>

      @if(isLogin()){
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <label class="login-labels">
            Username/Email
            <input formControlName = "usernameOrEmail" class="login-inputs" type="text" placeholder="example123">
          </label>

          <label class="login-labels">
            Password
            <input formControlName = "password" class="login-inputs" type="text" placeholder="example123">
          </label>

          <button type="submit">Login</button>
          <a [routerLink]="['/reset-password']">Zapomninałeś hasła?</a>
        </form>
      }
      @else {
        <form class="login-form" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
          <div>{{commonError}}</div>
          <label class="auth-labels">
            Email
            <input formControlName = "email" class="auth-inputs" type="text" placeholder="example123">
              @if (registrationForm.controls.email.touched && registrationForm.controls.email.invalid){
                @if(registrationForm.controls.email.errors?.["required"]) {<small>Email is required</small>}
                @if(registrationForm.controls.email.errors?.["email"]) {<small>Email is not valid</small>}
                @if(registrationForm.controls.email.errors?.["minlength"]) {<small>Min length is 5</small>}
                @if(registrationForm.controls.email.errors?.["maxlength"]) {<small>Max length is 254</small>}
              }
              @for (err of registrationForm.controls.email.errors?.['backend']; track err){
                <small>{{err}}</small>
              }
          </label>

          <label class="auth-labels">
            Username
            <input formControlName = "username" class="auth-inputs" type="text" placeholder="example123">
              @if (registrationForm.controls.username.touched && registrationForm.controls.username.invalid){
                @if(registrationForm.controls.username.errors?.["required"]) {<small>username is required</small>}
                @if(registrationForm.controls.username.errors?.["minlength"]) {<small>Min length is 8</small>}
                @if(registrationForm.controls.username.errors?.["maxlength"]) {<small>Max length is 40</small>}
                @if(registrationForm.controls.username.errors?.["pattern"]) {<small>Username can not contains {{'@'}}</small>}
              }
              @for (err of registrationForm.controls.username.errors?.['backend']; track err){
                <small>{{err}}</small>
              }
          </label>

          <label class="auth-labels">
            Password
            <input formControlName = "password" class="auth-inputs" type="text" placeholder="example123">
              @if (registrationForm.controls.password.touched && registrationForm.controls.password.invalid){
                @if(registrationForm.controls.password.errors?.["required"]) {<small>password is required</small>}
                @if(registrationForm.controls.password.errors?.["minlength"]) {<small>Min length is 8</small>}
                @if(registrationForm.controls.password.errors?.["maxlength"]) {<small>Max length is 64</small>}
              }
              @for (err of registrationForm.controls.password.errors?.['backend']; track err){
                <small>{{err}}</small>
              }
          </label>

          <label class="auth-labels">
            Confirm Password
            <input formControlName = "confirmedPassword" class="auth-inputs" type="text" placeholder="example123">
              @if (registrationForm.controls.confirmedPassword.touched && registrationForm.controls.confirmedPassword.invalid){
                @if(registrationForm.controls.confirmedPassword.errors?.["required"]) {<small>password is required</small>}
                @if(registrationForm.controls.confirmedPassword.errors?.["minlength"]) {<small>Min length is 8</small>}
                @if(registrationForm.controls.confirmedPassword.errors?.["maxlength"]) {<small>Max length is 64</small>}
              }
          </label>

          <button type="submit">Zarejestruj się</button>
        </form>
      }
    </div>
  } @else {
    Proszę podtwierdzić email żeby aktywować konto. Link został wysłany mailowo
    <a [routerLink]="['/']">Przejdź do strony głównej</a>
  }
</div>
