<h1>Change password</h1>
<a [routerLink]="['/profile']">Back to profile</a>

@if (isPasswordChanged()){
  Password has changed successfully!
}
@if (commonError) {
  <div>{{ commonError }}</div>
}

<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <label>
    Current password
    <input type="text" formControlName="oldPassword" />
  </label>
  @if (passwordForm.controls.oldPassword.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }
  <br>
  <label>
    New password
    <input type="text" formControlName="newPassword" />
  </label>
  @if (passwordForm.controls.newPassword.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }
  <br>
  <label>
    Confirm password
    <input type="text" formControlName="confirmedPassword" />
  </label>

  <br>
  <button type="submit">Change password</button>
  <a [routerLink]="['/reset-password']">Forgot password?</a>
</form>
