<h1>Change password</h1>
<a [routerLink]="['/profile']">Back to profile</a>

<form [formGroup]="password" (ngSubmit)="onSubmit()">
  <label>
    Current password
    <input type="text" formControlName="oldPassword" />
  </label>
  <br>

  <label>
    New password
    <input type="text" formControlName="newPassword" />
  </label>
  <br>
  <label>
    Confirm password
    <input type="text" formControlName="confirmedPassword" />
  </label>

  <br>
  <button type="submit">Change password</button>
  <a [routerLink]="['/reset-password']">Forgot password?</a>
</form>
