<h1>Change password</h1>
<a [routerLink]="['/profile']">Back to profile</a>

@if (isPasswordChanged()){
  Password has changed successfully!
}
@if (commonError) {
  <div>{{ commonError }}</div>
}

<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <label>
    Current password
    <input type="text" formControlName="oldPassword" />
  </label>
  @if (passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.invalid){
    @if(passwordForm.controls.oldPassword.errors?.["required"]) {<small>password is required</small>}
    @if(passwordForm.controls.oldPassword.errors?.["minLength"]) {<small>Min length is 8</small>}
    @if(passwordForm.controls.oldPassword.errors?.["maxLength"]) {<small>Max length is 64</small>}
    @if (passwordForm.controls.oldPassword.errors?.["spaces"]) {<small>Can not contains spaces</small>}
  }
  @if (passwordForm.controls.oldPassword.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }
  <br>
  <label>
    New password
    <input type="text" formControlName="newPassword" />
  </label>
  @if(passwordForm.errors?.["passwordMismatch"]) {<small>Passwords do not match</small>}
  @if (passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.invalid){
    @if(passwordForm.controls.newPassword.errors?.["required"]) {<small>password is required</small>}
    @if(passwordForm.controls.newPassword.errors?.["minLength"]) {<small>Min length is 8</small>}
    @if(passwordForm.controls.newPassword.errors?.["maxLength"]) {<small>Max length is 64</small>}
    @if (passwordForm.controls.newPassword.errors?.["spaces"]) {<small>Can not contains spaces</small>}
  }
  @if (passwordForm.controls.newPassword.errors?.['backend']; as backendErrors) {
    @for (err of backendErrors; track err) {
      <small>{{ err }}</small>
    }
  }
  <br>
  <label>
    Confirm password
    <input type="text" formControlName="confirmedPassword" />
  </label>

  @if (passwordForm.controls.confirmedPassword.touched && passwordForm.controls.confirmedPassword.invalid){
    @if(passwordForm.controls.confirmedPassword.errors?.["required"]) {<small>password is required</small>}
    @if(passwordForm.controls.confirmedPassword.errors?.["minLength"]) {<small>Min length is 8</small>}
    @if(passwordForm.controls.confirmedPassword.errors?.["maxLength"]) {<small>Max length is 64</small>}
    @if (passwordForm.controls.confirmedPassword.errors?.["spaces"]) {<small>Can not contains spaces</small>}
  }
  @if(passwordForm.errors?.["passwordMismatch"]) {<small>Passwords do not match</small>}
  <br>
  <button type="submit">Change password</button>
  <a [routerLink]="['/reset-password']">Forgot password?</a>
</form>
